html
{
    margin: 0;
}

body
{
    margin: 0;
}

header,
main
{
    margin: 0 auto;
    padding: 10px 25px;
    width: 1500px;
    background-color: #f0f8ff;
}

h1
{
    text-align: center;
}

section {
    margin: 10px 0px;
}

table,
tr,
td,
th
{
    padding: 15px;
    border: 1px solid black;
    border-collapse: collapse;
}

table
{
    width: 100%;
    overflow: hidden;
}

#in:checked ~ table .out,
#out:checked ~ table .in
{
    display: none;
}

#city[value="Иркутск"] ~ table tr:nth-child(n+2):not([directionPlace="Иркутск"]),
#city[value="Красноярск"] ~ table tr:nth-child(n+2):not([directionPlace="Красноярск"]),
#city[value="С-Петербург"] ~ table tr:nth-child(n+2):not([directionPlace="С-Петербург"]),
#city[value="Санкт-Петербург"] ~ table tr:nth-child(n+2):not([directionPlace="С-Петербург"]),
#city[value="Петербург"] ~ table tr:nth-child(n+2):not([directionPlace="С-Петербург"]),
#city[value="Москва"] ~ table tr:nth-child(n+2):not([directionPlace^="Москва"]),
#city[value="Москва/дмд"] ~ table tr:nth-child(n+2):not([directionPlace="Москва/дмд"]),
#city[value="Домодедово"] ~ table tr:nth-child(n+2):not([directionPlace="Москва/дмд"]),
#city[value="Москва/внк"] ~ table tr:nth-child(n+2):not([directionPlace="Москва/внк"]),
#city[value="Внуково"] ~ table tr:nth-child(n+2):not([directionPlace="Москва/внк"]),
#city[value="Анталья"] ~ table tr:nth-child(n+2):not([directionPlace="Анталья"]),
#city[value="Шарм Эль Шейх"] ~ table tr:nth-child(n+2):nth-child(n+2):not([directionPlace="Шарм Эль Шейх"]),
#city[value="Прага"] ~ table tr:nth-child(n+2):not([directionPlace="Прага"]),
#city[value="Сочи"] ~ table tr:nth-child(n+2):not([directionPlace="Сочи"]),
#city[value="Тель-Авив"] ~ table tr:nth-child(n+2):not([directionPlace="Тель-Авив"]),
#city[value="Тюмень"] ~ table tr:nth-child(n+2):not([directionPlace="Тюмень"])
{
    display: none;
}

tr:nth-child(2n)
{
    background-color: #f0f0f0;
}

tr:nth-child(2n+1)
{
    background-color: #c0c0c0;
}

tr:nth-child(1)
{
    background-color: #a0a0a0;
}

tr:hover:nth-child(n+2)
{
    background-color: #faa;
}

td:hover
{
    position: relative;
}

td:hover::after
{
    content: "";
    position: absolute;
    left: 0px;
    top: -10000px;
    height: 100000px;
    width: 100%;
    background-color: #faa;
    z-index: 1;
    pointer-events: none;
    opacity: 0.3;
}

.logo
{
    height: 25px;
    margin-right: 5px;
}

label
{
    font-size: 15pt;
}

input,
button
{
    font-size: 20pt;
    margin-bottom: 15px;
}

.sendForm
{
    height: 150px;
}

.submit
{
    display: none;
}

form:valid > .submit
{
    display: block;
}
